USE [master]
GO
/****** Object:  Database [CinemaJava]    Script Date: 5/15/2026 8:14:22 AM ******/
CREATE DATABASE [CinemaJava]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaJava', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CinemaJava.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaJava_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CinemaJava_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaJava].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaJava]
GO
/****** Object:  Table [dbo].[movies]    Script Date: 5/15/2026 8:14:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[duration] [int] NOT NULL,
	[genre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 5/15/2026 8:14:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seats]    Script Date: 5/15/2026 8:14:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[room_id] [int] NOT NULL,
	[seat_number] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[showtimes]    Script Date: 5/15/2026 8:14:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[showtimes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [int] NOT NULL,
	[room_id] [int] NOT NULL,
	[start_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 5/15/2026 8:14:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[showtime_id] [int] NOT NULL,
	[seat_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/15/2026 8:14:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[movies] ON 

INSERT [dbo].[movies] ([id], [title], [duration], [genre]) VALUES (1, N'Lật Mặt 7: Một Điều Ước', 138, N'Gia đình, Tâm lý')
INSERT [dbo].[movies] ([id], [title], [duration], [genre]) VALUES (2, N'Hành Tinh Khỉ: Vương Quốc Mới', 145, N'Hành động, Viễn tưởng')
INSERT [dbo].[movies] ([id], [title], [duration], [genre]) VALUES (3, N'Doraemon: Bản Giao Hưởng Đất Trời', 115, N'Hoạt hình')
SET IDENTITY_INSERT [dbo].[movies] OFF
GO
SET IDENTITY_INSERT [dbo].[rooms] ON 

INSERT [dbo].[rooms] ([id], [name]) VALUES (1, N'Phòng 01 (2D)')
INSERT [dbo].[rooms] ([id], [name]) VALUES (2, N'Phòng 02 (3D)')
INSERT [dbo].[rooms] ([id], [name]) VALUES (3, N'Phòng VIP 01')
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[seats] ON 

INSERT [dbo].[seats] ([id], [room_id], [seat_number]) VALUES (1, 1, N'A1')
INSERT [dbo].[seats] ([id], [room_id], [seat_number]) VALUES (2, 1, N'A2')
INSERT [dbo].[seats] ([id], [room_id], [seat_number]) VALUES (3, 1, N'A3')
SET IDENTITY_INSERT [dbo].[seats] OFF
GO
SET IDENTITY_INSERT [dbo].[showtimes] ON 

INSERT [dbo].[showtimes] ([id], [movie_id], [room_id], [start_time]) VALUES (1, 1, 1, CAST(N'2026-05-15T18:00:00.000' AS DateTime))
INSERT [dbo].[showtimes] ([id], [movie_id], [room_id], [start_time]) VALUES (2, 1, 3, CAST(N'2026-05-15T20:30:00.000' AS DateTime))
INSERT [dbo].[showtimes] ([id], [movie_id], [room_id], [start_time]) VALUES (3, 2, 2, CAST(N'2026-05-15T19:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[showtimes] OFF
GO
SET IDENTITY_INSERT [dbo].[tickets] ON 

INSERT [dbo].[tickets] ([id], [showtime_id], [seat_id], [price], [created_by]) VALUES (1, 1, 1, CAST(85000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[tickets] ([id], [showtime_id], [seat_id], [price], [created_by]) VALUES (2, 1, 2, CAST(85000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[tickets] ([id], [showtime_id], [seat_id], [price], [created_by]) VALUES (3, 2, 9, CAST(150000.00 AS Decimal(10, 2)), 2)
SET IDENTITY_INSERT [dbo].[tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [role], [name], [phone]) VALUES (1, N'admin', N'123', N'ADMIN', N'Sếp', N'0911222333')
INSERT [dbo].[users] ([id], [username], [password], [role], [name], [phone]) VALUES (2, N'nv01', N'123', N'STAFF', N'Con sen', N'0988777666')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_seat]    Script Date: 5/15/2026 8:14:22 AM ******/
ALTER TABLE [dbo].[seats] ADD  CONSTRAINT [UQ_seat] UNIQUE NONCLUSTERED 
(
	[room_id] ASC,
	[seat_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ticket]    Script Date: 5/15/2026 8:14:22 AM ******/
ALTER TABLE [dbo].[tickets] ADD  CONSTRAINT [UQ_ticket] UNIQUE NONCLUSTERED 
(
	[showtime_id] ASC,
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572DA5E929A]    Script Date: 5/15/2026 8:14:22 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[seats]  WITH CHECK ADD  CONSTRAINT [FK_seats_rooms] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[seats] CHECK CONSTRAINT [FK_seats_rooms]
GO
ALTER TABLE [dbo].[showtimes]  WITH CHECK ADD  CONSTRAINT [FK_showtimes_movies] FOREIGN KEY([movie_id])
REFERENCES [dbo].[movies] ([id])
GO
ALTER TABLE [dbo].[showtimes] CHECK CONSTRAINT [FK_showtimes_movies]
GO
ALTER TABLE [dbo].[showtimes]  WITH CHECK ADD  CONSTRAINT [FK_showtimes_rooms] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[showtimes] CHECK CONSTRAINT [FK_showtimes_rooms]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_seats] FOREIGN KEY([seat_id])
REFERENCES [dbo].[seats] ([id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_seats]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_showtimes] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[showtimes] ([id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_showtimes]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_users] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_users]
GO
USE [master]
GO
